@model TYHBOrderSystem.Models.View_Models.CustomerViewModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Customer Information</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!--Firstname &&& LastName-->
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Customer_First_Name, "Customer First Name", htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_First_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer_First_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Customer_Last_Name, "Customer Last Name", htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer_Last_Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <!--Contact Numbers-->
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Contact_Number, "Primary Contact Number", htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact_Number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Alternate_Contact_Number, "Alternate Contact Number", htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alternate_Contact_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alternate_Contact_Number, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <!--Email-->
    <div class="form-group">
        @Html.LabelFor(model => model.Email_Address, "Email Address", htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email_Address,  new { htmlAttributes = new { @class = "form-control col-md-10" } })
            @Html.ValidationMessageFor(model => model.Email_Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--Allergy Description-->
    <div class="form-group">
        @Html.LabelFor(model => model.Allergy_Desctiption, "Allergy Description", htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Allergy_Desctiption, 5, 80, new { htmlAttributes = new { @class = "control-text-area" } })
            @Html.ValidationMessageFor(model => model.Allergy_Desctiption, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-prim" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
