
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Assets/dist/css/adminlte.min.css" />
<link href="~/Content/TYHB_Themes/TYHB_Styles.css" rel="stylesheet" />


<body>
				<div class="navbar">
								<i style="color: #c1d867;">||</i>
								<a href="@Url.Action("Create","Orders")">
												<i class="fa fa-receipt">
																<span>New Order</span>
												</i>
								</a>
								<a href="@Url.Action("CreateForOrder","Customers")">
												<i class="fa fa-user-alt">
																<span>New Customer</span>
												</i>
								</a>
								<a href="@Url.Action("Create","Products")">
												<i class="fa fa-receipt">
																<span>New Product</span>
												</i>
								</a>
								<a href="@Url.Action("Register","Account")">
												<i class="fa fa-user-plus">
																<span>New Employee</span>
												</i>
								</a>
								<i style="color: #c1d867;">||</i>
								<a href="@Url.Action("DailyReport","Reports")">
												<i class="fa fa-calendar-day">
																<span>Daily Reports</span>
												</i>
								</a>
								<a href="@Url.Action("WeeklyReport","Reports")">
												<i class="fa fa-calendar-week">
																<span>Weekly Report</span>
												</i>
								</a>
								<i style="color: #c1d867;">||</i>
								<a href="@Url.Action("Index","Products")">
												<i class="fa fa-file">
																<span>Products</span>
												</i>
								</a>
								<a href="@Url.Action("OldOrderData","Reports")">
												<i class="fa fa-th-list">
																<span>Old-Data</span>
												</i>
								</a>
								<i style="color: #c1d867;">||</i>
				</div>
</body>

