
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Assets/dist/css/adminlte.min.css" />
<link href="~/Content/TYHB_Themes/TYHB_Styles.css" rel="stylesheet" />


<body>

				<div class="navbar">
								<a href="@Url.Action("Create","Orders")">
												<i class="fa fa-receipt">
																<span>New Order</span>
												</i>
								</a>
								<a href="@Url.Action("CreateForOrder","Customers")">
												<i class="fa fa-user-alt">
																<span>New Customer</span>
												</i>
								</a>
								<a href="@Url.Action("Create","Products")">
												<i class="fa fa-receipt">
																<span>New Product</span>
												</i>
								</a>

								<div class="dropdown">
												<button class="dropbtn">Reports</button>
												<div class="dropdown-content">
																<a href="@Url.Action("DailyReport","Reports")">
																				<i class="fa fa-calendar-day">
																								<span>Daily Reports</span>
																				</i>
																</a>
																<a href="@Url.Action("WeeklyReport","Reports")">
																				<i class="fa fa-calendar-week">
																								<span>Weekly Report</span>
																				</i>
																</a>
																<a href="@Url.Action("Register","Account")">
																				<i class="fa fa-user-plus">
																								<span>New Employee</span>
																				</i>
																</a>
												</div>
								</div>
								<div class="dropdown">
												<button class="dropbtn">Archives</button>
												<div class="dropdown-content">
																<a href="@Url.Action("OldOrderData","Reports")">Orders</a>
																<a href="@Url.Action("Index","Products")">Products</a>
												</div>
								</div>
				</div>
</body>

