@model TYHBOrderSystem.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Order Details</h2>

<div>
    <hr />
    <dl class="row">
        <!--First Name-->
        <dt class="col-sm-3">
            @Html.Label("First Name")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CUSTOMER.Customer_First_Name)
        </dd>

        <!--Last Name-->
        <dt class="col-sm-3">
            @Html.Label("Last Name")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CUSTOMER.Customer_Last_Name)
        </dd>

        <!--Primary Number-->
        <dt class="col-sm-3">
            @Html.Label("Primary Contact Number")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CUSTOMER.Contact_Number)
        </dd>

        <!--Alt Number-->
        <dt class="col-sm-3">
            @Html.Label("Alternative Contact Number")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CUSTOMER.Alternate_Contact_Number)
        </dd>

        <!--Email Address-->
        <dt class="col-sm-3">
            @Html.Label("Email Address")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CUSTOMER.Email_Address)
        </dd>

        <!--Allergy Description-->
        <dt class="col-sm-3">
            @Html.Label("Allergy Description")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CUSTOMER.Allergy_Desctiption)
        </dd>

        <!--Order Date mm/dd/yyyy-->
        <dt class="col-sm-3">
            @Html.Label("Order Date")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Order_Date)
        </dd>

        <!--Order Time-->
        <dt class="col-sm-3">
            @Html.Label("Order Time")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Order_Time)
        </dd>

        <!--PickUp Due Date mm/dd/yy-->
        <dt class="col-sm-3">
            @Html.Label("Pick-Up Date")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PickUp_Due_Date)
        </dd>

        <!--Pickup Time DATE TIME OFFSET-->
        <dt class="col-sm-3">
            @Html.Label("Pick-Up Time")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PickUp_Time)
        </dd>


        <!--Employee ID-->
        <dt class="col-sm-3">
            @Html.Label("Employee Name")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EMPLOYEE.Emp_First_Name)
        </dd>

        <!--Product Flavor Choice-->
        <dt class="col-sm-3">
            @Html.Label("Product Flavor")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PRODUCT.Product_Flavor)
        </dd>

        <!--Product Description-->
        <dt class="col-sm-3">
            @Html.Label("Product Description")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PRODUCT.Product_Description)
        </dd>

        <!--Restriction Name-->
        <dt class="col-sm-3">
            @Html.Label("Dietary Restriction")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PRODUCT.Restriction.RestrictionName)
        </dd>

        <!--Ingredient Substitution-->
        <dt class="col-sm-3">
            @Html.Label("Ingredient Subsitution")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ingredient_Substitution)
        </dd>

        <!--Order Size-->
        <dt class="col-sm-3">
            @Html.Label("Order Size")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ORDER_SIZES.Order_Size)
        </dd>

        <!--Layer Size-->
        <dt class="col-sm-3">
            @Html.Label("Number of Layers")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ORDER_SIZES.Number_Of_Layers)
        </dd>

        <!--Decoration Comments-->
        <dt class="col-sm-3">
            @Html.Label("Decoration Comments")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Decoration_Comments)
        </dd>

        <!--Additional Comments-->
        <dt class="col-sm-3">
            @Html.Label("Additional Comments")
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Additional_Comments)
        </dd>
    </dl>


        <!---
    <dt>

        *@@Html.DisplayNameFor(model => model.Product_Type_ID)
    </dt>

    <dd>
        *@@Html.DisplayFor(model => model.Product_Type_ID)
    </dd>
    -
    <dt>
        *@@Html.DisplayNameFor(model => model.Finishing_ID)
    </dt>

    <dd>
        *@@Html.DisplayFor(model => model.Finishing_ID)
    </dd>

    <dt>
        *@@Html.DisplayNameFor(model => model.ORDER_SIZES.Product_Type_ID)
    </dt>

    <dd>
        *@@Html.DisplayFor(model => model.ORDER_SIZES.Product_Type_ID)
    </dd>

    <dt>
        *@@Html.DisplayNameFor(model => model.INGREDIENT.Ingredient_Type)
    </dt>

    <dd>
        *@@Html.DisplayFor(model => model.INGREDIENT.Ingredient_Type)
    </dd>
    -->


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ORDER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
