@model TYHBOrderSystem.Models.Order

@{
    ViewBag.Title = "Daily Report";
}

<!--<style type="text/css">


    .selection {
        background-color: grey;
    }

    .approved {
        background-color: green;
    }


</style>*/
-->

<div class="box">

    <div class="box-header">
        <h3 class="box-title">
            <p style="text-align: center"><font size="20"><b>DAILY REPORT</b></font></p>
        </h3>
    </div>
    <!-- /.box-header -->
    <!-- DAILY DATA TABLE -->

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr bgcolor="black">
                    <th style="text-align: center"><font color="white">Date Ordered:</font></th>
                    <th style="text-align: center"><font color="white">Date Due:</font></th>
                    <th style="text-align: center"><font color="white">Cake ID:</font></th>
                    <th style="text-align: center"><font color="white">Cake Type:</font></th>
                    <th style="text-align: center"><font color="white">Size:</font></th>
                    <th style="text-align: center"><font color="white">Customer Name:</font></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<table id="InformationTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUp_Due_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finishing_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Type_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_SIZES.Product_Type_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.Customer_First_Name)
        </th>

    </tr>


   
        <tr>
            <td>
                @Html.DisplayFor(model => model.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(model => model.PickUp_Due_Date)
            </td>
            <td>
                @Html.DisplayFor(model => model.Finishing_ID)
            </td>
            <td>
                @Html.DisplayFor(model => model.Product_Type_ID)
            </td>
            <td>
                @Html.DisplayFor(model => model.ORDER_SIZES.Product_Type_ID)
            </td>
            <td>
                @Html.DisplayFor(model => model.CUSTOMER.Customer_First_Name)
            </td>
        </tr>
    
</table>
<!-- /.box-body


@section Scripts{

    <script>
        $(function () {
            $('#example1').DataTable(
                {
                    'paging': true,
                    'pageLength': 25,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': false

            })
        })
    </script>
}
    -->
        //PDF DATA CODE GOES INTO TABLE ABOVE!!!///
