@model IEnumerable<TYHBOrderSystem.Models.Order>


@{
				ViewBag.Title = "Daily Report";

}

<link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css" />



<!-- NEED ORDER DATA TO PULL FROM DATABASE-->
<h2>Daily Report</h2>


<table id="InformationTable" class="table">
				<tr>

								<th>
												@Html.DisplayNameFor(model => model.Order_Date)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.PickUp_Due_Date)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.Finishing_ID)
								</th>
								<!--
								<th>
								Html.DisplayNameFor(model => model.Product_Type_ID)
								</th>
								-->
								<th>
												@Html.DisplayNameFor(model => model.ORDER_SIZES.Product_Type_ID)
								</th>
								<th onclick="sortTable(0)">
												@Html.DisplayNameFor(model => model.CUSTOMER.Customer_First_Name)
								</th>

				</tr>

				@if (Model.Count() > 0)
				{



								foreach (var item in Model)
								{


												<tr>
																<td>
																				@Html.DisplayFor(model => item.Order_Date)
																</td>
																<td>
																				@Html.DisplayFor(model => item.PickUp_Due_Date)
																</td>
																<td>
																				@Html.DisplayFor(model => item.Finishing_ID)
																</td>
																<!--
																<th>
																Html.DisplayFor(model => model.Product_Type_ID)
																</th>
																-->
																<td>
																				@Html.DisplayFor(model => item.ORDER_SIZES.Product_Type_ID)
																</td>
																<td>
																				@Html.DisplayFor(model => item.CUSTOMER.Customer_First_Name)
																</td>
												</tr>
								}
				}
				else
				{
								<h2>NO ORDERS PRESENT</h2>
				}
</table>


@section Scripts{
				<script>
								function sortTable(n) {
												var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
												table = model.getElementById("InformationTable");
												switching = true;
												dir = "asc";

												while (switching) {
																switching = false;
																rows = table.rows;

																for (i = 1; i < (rows.length - 1); i++) {

																				shouldSwitch = false;

																				x = rows[i].getElementsByTagName("TD")[n];
																				y = rows[i + 1].getElementsByTagName("TD")[n];

																				if (dir == "asc") {
																								if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
																												shouldSwitch = true;
																												break;
																												break;
																								}
																				} else if (dir == "desc") {
																								if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

																												shouldSwitch = true;
																												break;
																								}
																				}
																}
																if (shouldSwitch) {

																				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
																				switching = true;
																				switchcount++;
																} else {
																				if (switchcount == 0 && dir == "asc") {
																								dir = "desc";
																								switching = true;
																				}
																}
												}
								}
				</script>
}