@model IEnumerable<TYHBOrderSystem.Models.Order>


@{
				ViewBag.Title = "OldOrderData";
}
<link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css" />



<!-- NEED ORDER DATA TO PULL FROM DATABASE-->


<table id="InformationTable" class="table">
				<tr>
								<th>
												@Html.DisplayNameFor(model => model.CUSTOMER.Customer_First_Name)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.CUSTOMER.Customer_Last_Name)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.Order_Date)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.PickUp_Due_Date)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.ORDER_ID)
								</th>
								<th>
												@Html.DisplayNameFor(model => model.Finishing_ID)
								</th>
								


				</tr>

				@foreach (var item in Model)
				{

<tr>
				<td>
								@Html.DisplayFor(model => item.CUSTOMER.Customer_First_Name)
				</td>
				<td>
								@Html.DisplayFor(model => item.CUSTOMER.Customer_Last_Name)
				</td>
				<td>
								@Html.DisplayFor(model => item.Order_Date)
				</td>
				<td>
								@Html.DisplayFor(model => item.PickUp_Due_Date)
				</td>
				<td>
								@Html.DisplayFor(model => item.ORDER_ID)
				</td>
				<td>
								@Html.DisplayFor(model => item.Finishing_ID)
				</td>
				

</tr>
				}
</table>


<!-- SELECT *
	    FROM Orders
	    ORDER BY Order_Date-->