@model IEnumerable<TYHBOrderSystem.Models.Order>
@{
    ViewBag.Title = "Weekly Report";
}

<!--<style type="text/css">


    .selection {
        background-color: grey;
    }

    .approved {
        background-color: green;
    }


</style>*/
-->

<div class="box">

    <div class="box-header">
        <h3 class="box-title">
            <p style="text-align: center"><font size="20"><b>WEEKLY REPORT</b></font></p>
        </h3>
    </div>
    <!-- /.box-header -->
    <!-- WEEKLY REPORT TABLE -->

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr bgcolor="black">
                    <th style="text-align: center"><font color="white">Date Ordered:</font></th>
                    <th style="text-align: center"><font color="white">Date Due:</font></th>
                    <th style="text-align: center"><font color="white">Cake Type:</font></th>
                    <th style="text-align: center"><font color="white">Quantity:</font></th>
                    <th style="text-align: center"><font color="white">Size:</font></th>
                    <th style="text-align: center"><font color="white">Customer Initials:</font></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<table id="InformationTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUp_Due_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finishing_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Type_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_SIZES.Product_Type_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.Customer_First_Name)
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUp_Due_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finishing_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Type_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORDER_SIZES.Product_Type_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUSTOMER.Customer_First_Name)
            </td>
        </tr>
    }
</table>
<!-- /.box-body


@section Scripts{

    <script>
        $(function () {
            $('#example1').DataTable(
                {
                    'paging': true,
                    'pageLength': 25,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': false

            })
        })
    </script>
}
    -->
    //PDF DATA CODE GOES INTO TABLE ABOVE!!!///
