@model IEnumerable<TYHBOrderSystem.Models.Order>

@{
				ViewBag.Title = "Weekly Report";
}

<link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css" />



<!-- NEED ORDER DATA TO PULL FROM DATABASE-->
<h2> WEEKLY Report</h2>

<table id="InformationTable" class="table table-bordered">
				<tr>

								<th>
												<h3>[Orderplaced-Info]</h3>
								</th>
								<th>
												<h3>[Pickup-Info]</h3>
								</th>
								<th>
												<h3>[Product-Info]</h3>
								</th>
								<th>
												<h3>[Customer-Info]</h3>
								</th>
								<th>
												<h3>[Employee-Info]</h3>
								</th>

				</tr>

				@if (Model.Count() > 0)
				{
								foreach (var item in Model)
								{
												<tr>
																<td>
																				<b>(Order Date)</b><br />
																				@Html.DisplayFor(model => item.Order_Date)<br />
																				<b>(Order Time)</b><br />
																				@Html.DisplayFor(model => item.Order_Time)<br />
																				<b>(Order-ID)</b><br />
																				@Html.DisplayFor(model => item.ORDER_ID)
																</td>
																<td>
																				<b>(Pickup Date)</b><br />
																				@Html.DisplayFor(model => item.PickUp_Due_Date)<br />
																				<b>(Pickup Time)</b><br />
																				@Html.DisplayFor(model => item.PickUp_Time)<br />
																				<b>(Order-ID)</b><br />
																				@Html.DisplayFor(model => item.ORDER_ID)
																</td>
																<td>
																				<b>(Product-ID)</b><br /> @Html.DisplayFor(model => item.PRODUCT.ProductId)<br />
																				<b>(Flavor)</b><br />
																				@Html.DisplayFor(model => item.PRODUCT.Product_Flavor)
																				<br /><b>(Ingredient-Substitution</b><br />
																				@Html.DisplayFor(model => item.Ingredient_Substitution)
																				<br /><b>(Dietary-Restriction)</b><br />
																				@Html.DisplayFor(model => item.PRODUCT.Restriction.RestrictionName)

																</td>
																<td>
																				<b>(Customer Name)</b><br />
																				@Html.DisplayFor(model => item.CUSTOMER.Customer_First_Name)
																				@Html.DisplayFor(model => item.CUSTOMER.Customer_Last_Name)
																				<br /><b>(Info)</b><br />
																				@Html.DisplayFor(model => item.CUSTOMER.Contact_Number)
																				<br />@Html.DisplayFor(model => item.CUSTOMER.Email_Address)
																				<br />@Html.DisplayFor(model => item.CUSTOMER.Alternate_Contact_Number)

																</td>
																<td>
																				<b>(Employee Name)</b><br />
																				@Html.DisplayFor(model => item.EMPLOYEE.Emp_First_Name)
																				@Html.DisplayFor(model => item.EMPLOYEE.Emp_Last_Name)
																				<br /><b>(Employee-ID)</b><br />
																				@Html.DisplayFor(model => item.EMPLOYEE.Employee_ID)
																</td>
												</tr>
								}
				}
				else
				{
								<h1>NO-ORDERS-PRESENT</h1>
				}
</table>


<!-- /.box-body


@section Scripts{

				<script>
								$(function () {
												$('#example1').DataTable(
																{
																				'paging': true,
																				'pageLength': 25,
																				'lengthChange': true,
																				'searching': true,
																				'ordering': true,
																				'info': false,
																				'autoWidth': true
																})
												$('#example2').DataTable({
																'paging': true,
																'lengthChange': false,
																'searching': false,
																'ordering': true,
																'info': false,
																'autoWidth': false

												})
								})
				</script>
}
				-->
