<!-- localhost:_____/Admin/Index -->
@model TYHBOrderSystem.Models.AdminIndexViewModel

@{
    /**/

    ViewBag.Title = "Index";
}
<title>JEBBugTracker | Admin Panel</title>
<h2>Admin Panel</h2>

@*foreach (var mod in Model)
    {
        <p>@mod.User.FirstName @mod.User.LastName | @Html.ActionLink("Edit Roles", "EditUser", new { id = mod.User.Id })</p>
        <ul>
            @foreach (var role in mod.Roles)
            {
                <li>
                    @role
                </li>
            }
        </ul>
    }
*@
<div class="col-md-12">
    <div class="box no-padding">
        <div class="box-header">
            <h3 class="box-title">Manage Users</h3>
        </div>

        <div class="box-body">
            <table id="userTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Locked Out?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>
                                @if (user.LockoutEnabled)
                                {
                                    <p class="text-danger">Locked Out</p>
                                }
                                else
                                {
                                    <p class="text-green">NO</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <div class="col-md-6">
        <div>
            <div class="box no-padding">
                <div class="box-header">
                    <h3 class="box-title">Projects</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Project Name</th>

                                <th>Description</th>
                                <th>Manager</th>

                                <th>Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mod in Model.PVModel)
                            {

                                <tr>
                                    <td>@mod.Project.Name</td>

                                    <td>
                                        @Html.Raw(mod.Project.Description)
                                    </td>
                                    <td>
                                        @if (mod.PManager == null)
                                        {
                                            <!-- not working correctly -->
                                            <p>No Manager Assigned</p>
                                        }
                                        else
                                        {
                                            @mod.PManager.FullName
                                        }
                                    </td>

                                    <td class="text-center">
                                        <a class="outline outline-primary outline-lg" href="@Url.Action("Details", "Projects", new { id = mod.Project.Id })">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <div>
                <div class="box no-padding">
                    <div class="box-header">
                        <h3 class="box-title">Tickets</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Priority</th>
                                    <th>Title</th>

                                    <th>Status</th>
                                    <th>Type</th>

                                    <th>Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mod in Model.Tickets)
                                {

                                    <tr>
                                        <td>
                                            @if (mod.Priority.Name.Equals("High"))
                                            {<span class="label label-warning">@mod.Priority.Name</span>}
                                        else if (mod.Priority.Name.Equals("Medium"))
                                        { <span class="label label-primary">@mod.Priority.Name</span>}
                                    else if (mod.Priority.Name.Equals("Low"))
                                    { <span class="label label-success">@mod.Priority.Name</span>}
                                else if (mod.Priority.Name.Equals("Urgent"))
                                { <span class="label label-danger">@mod.Priority.Name</span>}
                            else
                            { @mod.Priority.Name}

                                        </td>
                                        <td>@mod.Title</td>

                                        <td>
                                            @mod.TicketStatus.Name
                                        </td>
                                        <td>
                                            @mod.TicketType.Name
                                        </td>

                                        <td class="text-center"><a class="outline outline-primary outline-lg" href="@Url.Action("Details", "Tickets", new { id = mod.Id })"><i class="fa fa-info"></i></a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script>
        $(function () {
            $('#example1').DataTable(
                {
                    'paging': true,
                    'lengthChange': false,
                    'pageLength': 10,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
            $('#example2').DataTable(
                {
                    'paging': true,
                    'lengthChange': false,
                    'pageLength': 10,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
            $('#userTable').DataTable(
                {
                    'paging': true,
                    'lengthChange': false,
                    'pageLength': 5,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
        })
    </script>
}
<!-- /.box-body
<div class="box-footer text-center">
    <a href="javascript:void(0)" class="uppercase">View All Users</a>
</div>
    -->
    